body {
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: url(bg.jpg);
}

.container {
  position: relative;
  width: 800px;
  height: 250px;
  background-color: black;
  overflow: hidden;
  padding: 18px 3px 0px 3px;
}

.bar-container {
  display: flex;
  overflow: hidden;
  height: calc(100% - 20px);
  margin: 0px 10px 5px 10px;  
}

.bar {
  flex: 1;
  margin-right: -1px; /* Remove the gap between bars */
  background-color: #6d1b9d;
  transform: translateY(0);
  animation: moveUpDown 1s ease-in-out infinite alternate, changeColor 2s infinite alternate;
  padding: 0px 0px 0px 0px;
}

.bar:nth-child(2) {
  transform: translateY(0);
  background-color: #b329a3;
  animation-duration: 1.4s;
}

.bar:nth-child(3) {
  transform: translateY(0);
  background-color: #f08091;
  animation-duration: 1.2s;
}

.bar:nth-child(4) {
  transform: translateY(0);
  background-color: #FEA993;
  animation-duration: 1.3s;
}

.bar:nth-child(5) {
  transform: translateY(0);
  background-color: #ffd700;
  animation-duration: 1.4s;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

/* Button Styles */
.but {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  margin: 2% 5%;
}

.butto {
  padding: 10px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

#startBtn {
  background-color: #2ecc71; /* Green */
  padding: 10px 50px;
  margin: 10px 50px;
}

#stopBtn {
  background-color: #e74c3c; /* Red */
  padding: 10px 50px;
  margin: 10px 50px;
}

#resetBtn {
  background-color: #9b59b6; /* Purple */
  padding: 10px 50px;
  margin: 10px 50px;
}
